*{
    margin: 0;
    padding: 0;
    
    
}

body{
    font-family: 'Inter', sans-serif;
    color: #000;
  

}

.topo{
         background:#000;
         text-align: center;
         padding: 28px;
     }

     .baner-note{

           width: 100%;
     }

     .textos{
               
               text-align: center;
               margin: 0 auto;
               width: 100%;
               max-width: 766px;
            
            
            }

     .texto2{
    
        font-weight: 400;
        font-size: 32px;
        line-height: 80px;
        text-transform: uppercase;
        margin: 40px 0 -43px 0 ;
        

            }

     .texto1{
        
        font-weight: 500;
        font-size: 48px;
        line-height: 80px;
        text-transform: uppercase;
    

            }

      .texto{
        
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
          }

          .card-pcs{

               margin-top: 66px;
               display: flex;
               align-items: center;
               justify-content: center;}

            
               
           
           

          .cards{  

                  
                  flex-wrap: wrap ;
                  
                  display:flex;
                  grid-template-columns: repeat 3, 1fr;
                  gap: 20px;
                  justify-content: center;
                  margin-top: 186px;
                  align-items: center;
                  margin-bottom: 75px;
                   }
                     

                

                .cards2{ margin-top: 700px;}


                

            .card{
                position: relative;
                align-items: center;
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
                  }


           .card-img{ display: block; margin: 46px 0 38px;  }

           .paragrafo{

            max-width: 300px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin: 0 26px 28px ;
            text-align: justify;
            letter-spacing: -1;
            word-spacing: -1px  ;
                       }



           

           .container-0{  position: absolute; }

           .fundo{
           background-image: url(imagens/gray.png);
           background-origin: border-box;
           background-size: 1700px;
          
            }

          

           
          
         
          
                     
                      

         .img-desktop{ margin-left: 90px;  display: block;
          margin-top: 20px;
          
          }
                       
          
          .note-mobile{  width: 100%;  max-width: 450px; }
                          
                        
                        
                        
            .cel { display: none;  }

            .penúltima{
                         text-align: center;
                        
            }

            .texto-final{

              width: 100%;
              max-width: 550px;
              height: 120px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              margin: 0 auto;
              margin-top: 14px;
              margin-bottom: 14px;
            }

            .redes{
                     text-align: center;
                     background: #000;
                     height: 128px;
                     justify-content: center;
                     margin-top: 104px;

            }

            .sociais{
                        margin-top: 50px;
                        background-repeat: no-repeat ;
            }

            .sem-foco{   
                         
                         width: 100%;
                         max-width: 1000px;

            }

            .oculos{
                       display: none;
                       

            }

           


           


         
          

        @media screen and (max-width:600px) {

          .sem-foco{
                       display: none;

          }
          
          .oculos{ display: block;
        
          }

          .oculos1{
                     margin: 0 auto;
                     margin-bottom: 51px;

          }
          
        }

        @media(max-width:694px) { .note-mobile{ display: none; }

        .cel{ display: block;  float: right;  margin-right: 14px;  margin-bottom: 10px; padding: 0 auto; } 
        .celnote{
                  margin:0 auto;

        }

       

        }
      
      
            
          
                             
         @media screen and (max-width:400px) { .banner-desktop{ display: none;  } }

         @media screen and (min-width:401px) { .banner-mobile{ display: none;  }  }

        



         @media screen { .texto1{  font-size: 38px  }  }

         @media screen { .texto{  margin:0 28px;  }  }
